version: '3.8'

services:
  nextjs:
    build:
      context: .
      args:
        NEXT_PUBLIC_AUTH_URL: http://localhost:3000
        NEXT_PUBLIC_API_URL: https://dummyjson.com
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
