:root {
  --max-width: 1440px;
  --white: #fff;
  --blue: #0072bc;
  --light-blue: #76c5f4;
  --pink: #d62761;
  --disabled-color: #a0a1a3;
  --gray: #302e2e;
  --medium-gray: #453f3f;
  --light-gray: #ececec;
  --black: #1a1a1a;
  --font-size-small: 14px;
  --font-size-medium: 20px;
  --font-size-big: 28px;
}
