@use "sass:map";

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  xxxl: 1600px
);

@mixin media-max-screen($breakpoint) {
  $size: map.get($breakpoints, $breakpoint);

  @if $size {
    @media (max-width: $size - 1px) {
      @content;
    }
  } @else {
    @warn "Нет брейкпоинта #{$breakpoint} в $breakpoints";
  }
}

@mixin pageStyles() {
  width: 100%;
  margin: 0 auto;
  max-width: var(--max-width);
}

@mixin containerStyles() {
  padding: 20px;
  width: 100%;
}

@mixin mainContainerStyles() {
  @include containerStyles;

  flex: 1;
}
